$primary: #66A618;
$secondary: #EF5016;
$info: #30B2FD;
$warning: #ffc107;
$light: #f8f9fa;
$success: #198754;
$danger: #dc3545;
$white: #fff;
$dark: #212529;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "info":       $info,
  "success":    $success,
  "warning":    $warning,
  "light":      $light,
  "danger": $danger,
  "white": $white,
  "dark": $dark
);

@import '../bootstrap/scss/bootstrap.scss';
@import '../bootstrap/scss/variables';